// Page Navigation
// -----------------------------------------------------------------------------
//
// Purpose: Contains the styles for the page navigation, deals with 2 viewsdue to
// responsive layout of that navigation
//
// 1. It's not exactly a grid row, as it's a little further down the DOM tree, but
// I use it here to grab the max width centering.
// 2. Prevent document scrolling by clipping its body
// 3. Prevent inertia scrolling of document
//
// -----------------------------------------------------------------------------



//
// Shared styles for sub page navigation
// -----------------------------------------------------------------------------

%navPage-childList {
    border-left: 1px solid $navPage-childList-borderColor;
    margin: spacing("quarter") spacing("half");
    padding-left: spacing("half");
}

//
// When navPages is open
// -----------------------------------------------------------------------------

.has-activeNavPages {
    overflow: hidden; // 2
    -webkit-overflow-scrolling: auto; // 3
}

//
// Top level Pages navigation container
// -----------------------------------------------------------------------------

.navPages-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: 0;
    z-index: zIndex("lower");

    @include breakpoint("medium") {
        background: transparent;
        display: block;
        height: auto;
        padding: 0;
        position: relative;
  
    }

    &.is-open {
        display: block;
    }
}

//
// Top level Pages navigation list styles
// -----------------------------------------------------------------------------


.nav-desk {
    padding: 6px 0;
    display: none;
    @include breakpoint ('medium') {
        display: block;
    }
    .productNavAction{
        display: none;
        @include breakpoint ('medium') {
            display: block;
        }
    }
}


.mega-menu{
    display: none;
}

.megamenushow{
    display: block;
}

.megamenu-inner{
    display: flex;
}

.l3-container{
  flex: 70%;
  display: flex;


.navpage-child-wrapper{
    @include breakpoint(medium){
        height: 535px;
        overflow-y: auto;
    }

    
&::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(170, 185, 197, 1);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(170, 185, 197, 0.24);
  }
}


  .navPage-childList{
    margin: 0 !important;
    gap: 30px;
    flex: 70%;
    display: flex;
    grid-auto-rows: 0fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0 40px 40px;

    @include breakpoint(medium){
        padding: 60px 0 128px 0px;
        gap: 30px;
    }
    @include breakpoint($screen-xlarge){
        gap: 109px;
    }

    .category-childlren{
        padding-bottom: 26px;
        font-weight: 700 !important;
        color: stencilColor('global-secondary-theme-color');
    }
    .navPage-childList-inner{
        li{
            padding-bottom: 15px;
        }
  }
  }

  .category-widget-wrapper{
    width: 100%;
    max-width: 251px;
  }

  .navpage-child-category-wrapper{
    flex: 65%;
  }


  .navpage-child-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;

    @include breakpoint(large){
        grid-template-columns: repeat(4, 1fr);
        padding-right: 58px;
    }
    @include breakpoint(medium){
        padding-right: 58px;
    }
  }
  
 .navPage-childList-item{
    @include breakpoint(small){
        padding-bottom: 33px;
    }
   .category-childlren{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    @include breakpoint(small){
    font-size: 20px;
    line-height: 30px;
    }
    }
 }

 .div-wrap {
    
    .advertisement{
        position: relative;
    }
    
    &:last-child{
        margin-top: 35px;
    }
    .shop-banner{
        position: absolute;
        bottom: 20px;
        left: 0;
        padding-left: 10px;
    }

    .shop-text {
        font-size: 35px;
        font-weight: 600;
        line-height: normal;
        color: white;  
        @media(max-width:991px){
            font-size: 24px !important;
            margin-bottom: 12px !important;
        }
        
    }
    
    .shop-button {
        background-color: white;
        color: black;
        padding: 8px 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Basier Square';
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        display: inline-block;    

        @media(max-width:991px){
            font-size: 12px !important;
            line-height: 22px !important;
            padding: 8px 17px;
    }
       
    }

    .header-advert-link::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.56) 0%, rgba(255, 93, 0, 0) 163.54%);
    }
    
}

 .navPage-childList-inner{
    margin-bottom: 30px;
    a{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;  
        @include breakpoint(small){
        font-size: 18px;
        line-height: 30px;
        }         
    }
 }
  
 }

.nav-desk-warapper{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    @include breakpoint("medium"){
        justify-content: space-between;
        flex-direction: row;
        margin-top: 0;
    }
    .icon.navPages-action-moreIcon svg {
        transform: rotate(90deg);
        transition: transform 0.3s ease; 
      }
      .navPages-item-page{
        a{
            text-transform: uppercase;

        }
      }
}

.desk-text{
    display: none;
    padding: 8px 0px !important;
    @include breakpoint("medium"){
    display: block;
    }
}




.navPages {
    height: 100%;
    overflow-y: auto;

    @include breakpoint("medium") {
        width: 100%;
        max-width: 100%;
        background: none;
        font-size: 0; // 1
        overflow-y: visible;
        text-align: center;
    }

    @include breakpoint("large") {
        padding: 5px 80px;
    }

    @media(max-width:801px){
    padding: 18px 15px !important; 
    }

    ul {
        list-style: none;
    }

    .navPage-subMenu-list {
        @extend %navPage-childList;

        border-left: 0;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        flex: 12%;
        padding: 40px 0;

        @include breakpoint(1400px) {
            max-width: 20%;
            border-left: 0;
            flex: 20%;
            width: 20%;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 60px 90px 60px 0;

        }

        .navPage-subMenu-item{
            width: 100%;
        }
        .active-item{
            a{
                color:stencilColor('global-secondary-theme-color'); 
                svg{
                    fill:stencilColor('global-secondary-theme-color'); 
                    stroke: stencilColor('global-secondary-theme-color');
                }
            }
        }
    }

    .navPages-list--user{
        @media(max-width:801px){
            display: none;
        }
    }
}

.search-cart-conatiner{
    display: flex;
    flex: 30%;
    justify-content: end;
    align-items: center;

 .navUser-section{
    max-width: 110px;
    width: 100%;
    @include breakpoint(medium){
        max-width: 102px;
    }
    }
}

.header-search{
    max-width:100%;
    width: 100%;
    position: absolute;
    top: 56px;
    right: 0;
    height: 100%;
    @include breakpoint('medium'){
        max-width: 330px;
        position: unset;
    }
    .container{
        padding: 0 !important;
        .form{
            margin-bottom: 0;
            .form-field{
                margin-bottom: 0;
                position: relative;
                input{
                    height: 44px;
                    border: unset;
                    background: stencilColor("header-bg-input-color");
                    border-radius: unset;
                    padding: 0 12 0 18px;
                    @include breakpoint(medium){
                        padding: 0 23px;
                    }
                    &::placeholder{
                        font-weight: 300;
                        font-size: 14px !important;
                        line-height: 25px;
                        color: stencilColor("color-textBase");
                    }
                }
                &::after{
                    position: absolute;
                    right: 23px;
                    background-image: url("https://cdn11.bigcommerce.com/s-pz1ihc8gwz/images/stencil/original/image-manager/search-icon.png?t=1740129371");
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    @include breakpoint(medium){
                        right: 12px;
                    }
                }
            }
        }
    }
}

.navPages-list {
    margin: 0;

    @include breakpoint("medium") {
        display: inline-block;
        float: none;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pages-wrapper{

        @include breakpoint(801px){
            display: flex;
            flex-wrap: wrap;
        }
    }

    .navPages-item{
        padding-right: 25px;
        @include breakpoint(1600px){
            &:not(:last-child){
                padding-right: 84px;
                }
        }

    }

    + .navPages-list {
        border-top: 1px solid $navPages-list--user-borderColor;
        margin-top: spacing("half");
        padding-top: spacing("half");
    }
}

.navPages-list-depth-max.subMenu-is-open {
    .is-hidden {
        display: none;

        @include breakpoint("medium") {
            display: inline-block;
        }
    }

    .navPages-item-page {
        display: none;

        @include breakpoint("medium") {
            display: inline-block;
        }
    }
}


.navPages-action-depth-max.has-subMenu.is-open {
    border-bottom: 1px solid $navPages-list--user-borderColor;
    text-align: center;

    @include breakpoint("medium") {
        border-bottom: 0;
        text-align: left;
    }

    .navPages-action-moreIcon {
        border: solid 1px $navPages-action-moreIcon-borderColor;
        border-radius: 4px;
        float: left;
        height: 35px;
        margin-top: -10px;
        padding: 11.7px; // (33 - 9.6) / 2
        transform: rotate(90deg);
        width: 35px;

        @include breakpoint("medium") {
            @include square(8px);
            border: 0;
            border-radius: 0;
            float: none;
            margin-top: 0;
            padding: 0;
            transform: rotate(-90deg);
        }
    }

    svg {
        height: 9.6px;
        width: 9.6px;

        @include breakpoint("medium") {
            height: 100%;
            width: 100%;
        }
    }
}

.navPages-action {
    color: stencilColor("navPages-color");
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 3px solid transparent;
    text-transform: capitalize;
    
    &:focus{
     outline: none !important;   
    }

    @include breakpoint("medium") {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 38px;
        padding-bottom: 35px;

        &.is-open {
            border-bottom: 3px solid stencilColor('navPages-action-border-color');
            color: $navPage-subMenu-item--is-highlighted-color;

        }
    }

    &.has-subMenu {
        .navPages-list:not(.navPages-list-depth-max) & {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0;

        }
    }

    &.is-open,
    .collapsible-icon-wrapper.is-open {
        svg {
            fill: $navPage-subMenu-item--is-highlighted-color;
            stroke: $navPage-subMenu-item--is-highlighted-color;
           
        }
    }

    &:hover,
    &.activePage {
        color: $navPage-subMenu-item--is-highlighted-color;
        border-bottom: 3px solid stencilColor('navPages-action-border-color');

        svg {
            fill: $navPage-subMenu-item--is-highlighted-color;
            stroke: $navPage-subMenu-item--is-highlighted-color;
        }
    }

    svg {
        fill: stencilColor("navPages-color");
        stroke: stencilColor("navPages-color");
        transition: all 0.15s ease;
    }
}

.navPages-action--storeCredit {
    color: stencilColor("color-textSecondary");
}

.navPages-action--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navPages-action-moreIcon {
    @include square(8px);
    margin-left: spacing("half");
    transform: rotate(-90deg);

    .has-subMenu.is-open &,
    .collapsible-icon-wrapper.is-open & {
        transform: rotate(0);
    }

    .navPages-list:not(.navPages-list-depth-max) & {
        @include square(11px);
        margin: 0 spacing("single");

        @include breakpoint("medium") {
            @include square(8px);
            margin: 0 0 0 spacing("quarter");
        }
    }
}


// Sub page navigation and children of sub pages
// -----------------------------------------------------------------------------

.navPage-childList {
    @extend %navPage-childList;
    display: none;

    @include breakpoint("medium") {
        border: 0;
        display: block;
    }

    &.is-open {
        display: block;
    }

    .navPage-subMenu-action:not(.navPages-action-depth-max) + & {
        margin-left: spacing("double"); //

        @include breakpoint("medium") {
            margin-left: 0;
        }
    }
}


// Sub menu, first level down from top level categories
// -----------------------------------------------------------------------------
//
// 1. navBar mixin has lots of decendant child selectors to deal with
//
// -----------------------------------------------------------------------------

.navPage-subMenu {
    display: none;
    outline: 0;
    width:100% !important;
    
    @include breakpoint("medium") {
        .navPages-action-moreIcon {
            display: none;
        }

    }

    &.is-open {
        display: block;
    }

    .navPages-list:not(.navPages-list-depth-max) .navPages-action.has-subMenu + & {
        .navPage-subMenu-list {
            margin-right: 0;

            @include breakpoint("medium") {
                margin-right: auto;
            }
        }
    }
}

.has-subMenu.is-root + .navPage-subMenu-horizontal {
    @include breakpoint("medium") {
        border-left: 0;
        height: $navPage-subMenu-horizontal-height;
        left: inherit;
        margin: auto;
        top: inherit;
        width: $navPage-subMenu-horizontal-width;
    }
}

.navPage-subMenu-horizontal {
    &.is-open {
        @include breakpoint("medium") {
            border-left: 1px solid stencilColor("navPages-subMenu-separatorColor");
            display: inherit;
            height: $navPage-subMenu-horizontal-height;
            margin-left: $navPage-subMenu-horizontal-width;
            padding: 0 !important;
            top: 0;
            width: $navPage-subMenu-horizontal-width + 1;
        }
    }

    .navPages-action-moreIcon {
        @include breakpoint("medium") {
            display: inline-block;
            transform: rotate(-90deg);
        }
    }
}

.navPage-subMenu-item {
    padding: spacing("half") 0;

    @include breakpoint("medium") {
        @include grid-column(12);
        padding: 0 0.75rem 0 0 !important; 

        .navPages-action {
            text-transform: none;
        }

        > .navPage-subMenu-action {
           border: unset !important;
           text-align: left;
        }

    }
}

.navPage-subMenu-item-child,
.navPage-subMenu-item-parent {
    width: 100%;

    @include breakpoint("medium") {
        .navPage-subMenu-action {
            padding-left: spacing("single");
            padding-right: spacing("single");
            width: 100%;
        }
    }
}

.navPage-subMenu-action {
    padding: spacing("half") 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    font-family: stencilFontFamily('body-font');

    @include breakpoint("medium") {
        padding: 0 0 20px 0;
    }

    @include breakpoint("small") {
    font-size: 20px;
    }

    &.active-item{
       font-weight: 700;
    }

    .navPages-list:not(.navPages-list-depth-max) & {
        padding: 0 0 0 spacing("single");

        @include breakpoint("medium") {
            padding: spacing("half") 0 (spacing("half") + spacing("quarter"));
        }
    }

    .collapsible-icon-wrapper {
        box-sizing: content-box;
        display: inline-block;
        height: 100%;
        text-align: right;
        
        @include breakpoint("medium") {
            display: none;
            width: 100%;
        }
    }
}


//
// Child pages of sub pages navigation lists
// -----------------------------------------------------------------------------
.navPage-childList-action {
    font-weight: fontWeight("normal");
    padding: 0;
    border: unset !important;
}


//
// Quick search inside the mobile nav
// -----------------------------------------------------------------------------

.navPages-quickSearch {
    border-bottom: container("border");
    margin-bottom: spacing("half");

    @include breakpoint("medium") {
        display: none;
    }

    > .container {
        padding: 0;
    }

    .form {
        margin: 0;
    }

    .form-field {
        margin-bottom: 0;
    }
}


//
// NavPages user section for mobile nav panel
// -----------------------------------------------------------------------------

.navPages-list--user {
    @include breakpoint("medium") {
        display: none;
    }

    #currencySelection2 {
        background-color: color("whites", "bright");
        border: container("border");

        .dropdown-menu-item {
            padding: 0;

            &:not(:last-child) {
                border-bottom: container("border");
            }
        }

        a {
            padding: spacing("half") spacing("single");
        }
    }
}

.nav-mob > li{
    border-bottom: 0.5px solid rgba(221, 221, 221, 0.9);
}

.nav-mob{
    display: none;
    margin-top: 44px;
    @media screen and (max-width: 991px) {
        overflow-x: hidden;
        display: block;
        border-top: unset !important;
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        li{
            padding: 0 1.5rem;
        }
               
        .navPages-action.brands{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navPages-action {
            position: relative;

            &.hasL3ChildrenMobile::after{
                content: '';
                background-image: url('https://cdn11.bigcommerce.com/s-rktwx7erof/images/stencil/original/image-manager/nav-show-more-arrow.png');
                position: absolute;
                width: 8px;
                right: 0;
                height: 12px;
            }
             
            svg{
                fill: transparent;
            }
        }
        .back-btn{
            &::before{
                content: url('https://cdn11.bigcommerce.com/s-rktwx7erof/images/stencil/original/image-manager/navigation-back-arrow.png');
                display: inline-block;
                margin-right: 10px;
            }
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-family: stencilFontFamily('body-font');
            color: #000000;
            svg{
                margin-right: 10px;
            }
        }
        div.first-level{
            .navPages-action{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 17px 0;
                text-transform: uppercase;
            }
            
            li.navPages-item{
                padding: 0 1.5rem;
            }
        }
        div.second-level{
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translateX(110%);
            transition: transform 400ms ease-in;
            &.active {
                transform: translateX(0%);
            }
            .navPages-item:first-child{
                padding: 16px 1.5rem;
                border-bottom: 0.5px solid rgba(221, 221, 221, 0.5);
                margin-bottom: 5px;
            }
            .navPages-action{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .navPages-action{
                font-family: stencilFontFamily('body-font');
                font-weight: 500;
                text-transform: capitalize;
            }
            
        }
        div.third-level{
            .navPages-item:first-child{
                padding: 16px 1.5rem;
                border-bottom: 0.5px solid rgba(221, 221, 221, 0.5);
                margin-bottom: 5px;
            }
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translateX(110%);
            transition: transform 400ms ease-in;
            &.active {
                transform: translateX(0%);
            }
            .navPages-action{
                font-family: stencilFontFamily('body-font');
                font-weight: 500;
                text-transform: capitalize;
                img{
                    margin-right: 5px;
                }
            }
        }
        .navUser-item{
            border-bottom: 2px solid transparent; 
            a{
                color: black !important;
                display: block;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                padding-top: 17px;
                padding-bottom: 7px;
                img{
                    filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(2%) hue-rotate(96deg) brightness(103%) contrast(100%);
                }
            }
        }
        .productNavAction{
            display: none !important;
        }
    }
    .mobile-text{
        display: block;
        @include breakpoint ('medium') {
            display: none;
        }
    }
    .navUser-item{
        border-bottom: 2px solid transparent; 
        a{
            color: black !important;
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            padding-top: 17px;
            padding-bottom: 7px;
            img{
                filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(2%) hue-rotate(96deg) brightness(103%) contrast(100%);
            }
        }
    }

}